* {
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60em;
}

.random-card {
    min-height: 20em;
    width: fit-content;
}

.buttons {
    display: flex;
    justify-content: center;
}

button {
    width: 20em;
    height: 10em;
    margin: 5%;
    background: none;
    border: none;
    cursor: pointer;
}

.dices:hover {
    opacity: 50%;
}

.search-glass:hover {
    opacity: 50%;
}

.hidden {
    display: none;
}
.bg-modal {
	background-color: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	display: none;
	justify-content: center;
	align-items: center;
}

.modalcontents {
  width: 500px;
  max-width: 800px;
	background-color: white;
	text-align: center;
	padding: 20px;
	position: relative;
	border-radius: 4px;
}

.close {
	position: absolute;
	top: 0;
	right: 10px;
	font-size: 42px;
	color: #333;
	transform: rotate(45deg);
  cursor: pointer;
}