* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.main-info,
.main-index {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
}

.main-search {
    display: flex;
    justify-content: flex-start;
}

h2 {
    font-family: 'Pathway Gothic One', sans-serif;
}

.beer-heading {
    font-family: 'Bebas Neue', cursive;
    font-size: 100px;
    margin-top: 5%;
    margin-bottom: 0;
}

.random-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 20em;
    width: fit-content;
    cursor: pointer;
    margin-top: 5%;
}

.buttons {
    display: flex;
    justify-content: center;
}

.random-btn,
.search-btn {
    width: 20em;
    height: 10em;
    margin: 5%;
    background: none;
    border: none;
    cursor: pointer;
}

.dices:hover {
    filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(150deg) brightness(95%) contrast(80%);
}

.search-glass:hover {
    filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(340deg) brightness(95%) contrast(80%);
}



/* Search-page */

aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20em;
    min-height: 650px;
}

.dice-icon {
    margin: 5%;
    cursor: pointer;
}

.tooltip {
    position: relative;
}

.tooltip-text {
    position: absolute;
    top: 5%;
    left: 80%;
    font-size: 15px;
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    width: fit-content;
    opacity: 0;
    transition: opacity 0.3s;
    padding: 5px;
    visibility: hidden;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.search-section {
    width: 100%;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: auto;
}

.prev-btn{
    grid-column: 1;
    justify-self: end;
    align-self: center;
}

.next-btn{
    grid-column: 3;
    justify-self: start;
    align-self: center;
}

.hidden {
    display: none;
}

.prev-page,
.next-page {
    min-width: 5em;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
}

.beer-list {
    grid-column: 2;
    justify-self: start;
    align-self: center;
    width: 100%;
    margin: 0;
    line-height: 2em;
}

.beer-list li:hover {
    cursor: pointer;
    color: #338e94;
}

.beer-list ul {
    list-style-type: none;
    text-indent: -0.9rem;
}

.beer-list li::before{
    content: "🍺 ";
    letter-spacing: 0.2em;
}

/* Input, ranger & calender styling */

form {
    margin: 5%;
}

input {
    background-color: rgb(255, 255, 255);
    border-radius: 7px;
    box-shadow: 0 6px 6px -6px rgb(194, 194, 194);
    margin-bottom: 10%;
}

.inputs input {
    width: 12.5em;
}

.abv-slider {
    width: fit-content;
    text-align: center;
    position: relative;
    display: flex;
    height: 5em;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-self: flex-start;
}

.abv-slider svg,
.abv-slider input[type=range] {
    position: absolute;
    left: 0;
    bottom: 0;
}

input[type=number] {
    border: 1px solid #ddd;
    text-align: center;
    font-size: 20px;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type=number]:invalid,
input[type=number]:out-of-range,
input[type=text]:invalid,
input[type=text]:out-of-range {
    border: 2px solid #dc0b2a;
}

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    background: #338e94;
    border-radius: 1px;
    box-shadow: none;
    border: 0;
}

input[type=range]::-webkit-slider-thumb {
    z-index: 2;
    position: relative;
    box-shadow: 0px 0px 0px #000;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #1f2020;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
}

.btn-submit {
    width: 70%;
    height: 3em;
    margin: 10% 15%;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    box-shadow: 0 0 10px #c9c9c9;
    ;
}

/* Beer info */

.description-div {
    max-width: 50%;
}